{% extends "page.html" %}

{% block breadcrumb_content %}
    {{ super() }}
  <li><a href="{{ h.url_for('suggest_form') }}">Suggest Dataset</a></li>

{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Suggest a Dataset</h1>

        {% block contact_form_content %}
            {% include "contact/snippets/form_suggest.html" %}
        {% endblock %}

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Suggest a Dataset') }}
  </h2>
  <div class="module-content">
    <p>
      Have a suggestion for data you'd like to see released publicly? We are always glad to hear from you!
    </p>
  </div>
</div>
{% endblock %}